.git
logs
.github
_site
.bundle
vendor
docs/.jekyll-cache
node_modules
coverage
.nyc_output
.idea
*.bak
*.sqlite
*.sqlite*
*.json
*.json5
*.yaml
*.yml
*.env

# exceptions
!heroku.yml
!app.json
!.nycrc.json
!.mocharc.json
!tsconfig.json
!package*.json
!docker/config/**
!_config.yml
