.git
logs
.github
docs
node_modules
coverage
.nyc_output
.idea
*.bak
*.sqlite
*.json
*.json5
*.yaml
*.yml


# exceptions
!heroku.yml
!app.json
!.nycrc.json
!.mocharc.json
!tsconfig.json
!package*.json
