a {
    text-decoration: underline;
}

.loading {
    height: 35px;
    fill: white;
    display: none;
}

.connected .loading {
    display: inline;
}

.sub {
    display: none;
}

.sub.active {
    display: inherit;
}

.nestedTabs {
    display: none;
}
.nestedTabs.active {
    display: inline-flex;
}

/*https://stackoverflow.com/a/48386400/1469797*/
.stats {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 5px;
}

.stats.three {
    grid-template-columns: max-content max-content auto;
}

.stats label {
    text-align: right;
}

.stats label:after {
    content: ":";
}

.newRow {
    margin-top: 15px;
}

.has-tooltip {
    /*position: relative;*/
}

.tooltip {
    transition-delay: 0.5s;
    transition-property: visibility;
    visibility: hidden;
    position: absolute;
    /*right: 0;*/
    margin-top:-35px;
}

.has-tooltip:hover .tooltip {
    visibility: visible;
    transition-delay: 0.2s;
    transition-property: visibility;
    z-index: 100;
}

.pointer {
    cursor: pointer;
}

.botStats.hidden {
    display: none;
}

.sub.offline a {
    pointer-events: none;
    text-decoration: none;
}

.sub.offline .logs a {
    pointer-events: initial;
    text-decoration: initial;
}

.blue {
    color: rgb(97, 175, 239)
}
.red {
    color: rgb(255 123 133);
}
.green {
    color: rgb(170 255 109);
}
.purple {
    color: rgb(224 124 253);
}
.yellow {
    color: rgb(253 198 94);
}

.breadcrumb {
    cursor: pointer;
}

#breadcrumbs::before,
.breadcrumb:not(:last-child)::after {
    content: '›';
    margin: 0 0.2rem;
}

.breadcrumb.array::before {
    content: '[]';
}

.breadcrumb.object::before {
    content: '{}';
}

#problems {
    background-color: #474646;
    padding: 10px;
    user-select: text;
}

.problem {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 0.25rem;
}

.problem-text {
    margin-left: 0.5rem;
}

.problem .codicon-warning {
    color: orange;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

#saveTip .tooltip:hover {
    transition-delay: 1s;
}

#redditStatus .iconify-inline {
    display: inline;
}

.triggeredState.notTriggered {
    display: none;
}

.triggeredState.hide {
    display: none;
}

.triggeredState.notTriggered.show {
    display: inherit;
}

.triggeredStateToggle {
    cursor: pointer;
}

li > ul {
    padding: revert;
}

.cancellable {
    display:inline;
/*    margin-left: 10px*/
}

.smallLi:before {
    margin-left: -10px;
    content: ""
}

.introjs-tooltip-title,.introjs-tooltiptext {
    color: black;
}

.guestAdd {
    border-top: 1px solid white;
    padding-top: 0.5em;
}
