<html>
<%- include('partials/head', {title: 'Access Denied'}) %>
<body class="bg-gray-900 text-white font-sans">
<div class="min-w-screen min-h-screen">
    <%- include('partials/title', {title: ''}) %>
    <div class="container mx-auto">
        <div class="grid">
            <div class="bg-gray-600">
                <div class="p-6 md:px-10 md:py-6">
                    <div class="text-xl mb-4">Sorry!</div>
                    <div class="space-y-3">
                        <div>Your account was successfully logged in but you cannot access this ContextMod client or route for one of these reasons:</div>
                        <ul class="list-inside list-disc">
                            <li>You are not a moderator of any of the subreddits this client has access to</li>
                            <li>You are not a moderator of any of the subreddits of the specific instance/bot you are trying to access</li>
                            <li>The instance(s) running the subreddits you are a moderator of are offline</li>
                            <li>The bot(s) running the subreddits you are a moderator of are not configured correctly IE the subreddits they moderate could not be retrieved</li>
                        </ul>
                        <div>Note: You must <a href="logout">Logout</a> in order for the instance to detect changes in your subreddits/moderator status</div>
                        <% if(locals.operatorDisplay !== undefined && locals.operatorDisplay !== 'Anonymous') { %>
                        <div>Operated By: <%= operatorDisplay %></div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>
</div>
</body>
</html>
