<head>
    <link rel="stylesheet" href="/public/tailwind.min.css"/>
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <link rel="stylesheet" href="/public/themeToggle.css">
    <link rel="stylesheet" href="/public/app.css">
    <title><%= locals.title !== undefined ? title : `${locals.botName !== undefined ? `CM for ${botName}` : 'ContextMod'}`%></title>
    <!--<title><%# `CM for /u/${botName}`%></title>-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- This is internal tool or at the very least a private site, should not be indexed -->
    <!-- https://developers.google.com/search/docs/advanced/crawling/block-indexing#meta-tag -->
    <meta name="robots" content="noindex">
    <!--icons from https://heroicons.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/6.0.0/introjs.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
