<div class="flex items-center flex-end space-x-2">
    <span>
        <label for="level-select">Level: </label>
        <select class="logSettingSelect rounded capitalize text-black" data-type="level"
                id="levels-select">
            <%- logSettings.levelSelect %>
        </select>
    </span>
    <span>
        <label for="sort-select">Sort: </label>
        <select class="logSettingSelect rounded capitalize text-black" data-type="sort"
                id="sort-select">
            <%- logSettings.sortSelect %>
        </select>
    </span>
    <span>
        <label for="limit-select">Limit: </label>
        <select class="logSettingSelect rounded capitalize text-black" data-type="limit"
                id="limit-select">
            <%- logSettings.limitSelect %>
        </select>
    </span>
</div>
