<div class="space-x-4 p-6 md:px-10 md:py-6 leading-6 font-semibold bg-gray-500">
    <div class="container mx-auto">
        <div class="flex items-center justify-between">
            <div class="flex items-center flex-grow pr-4">
                <% if(locals.title !== undefined) { %>
                    <%= title %>
                <% } %>
            </div>
            <div class="flex items-center flex-end text-sm">

                <a href="logout">Logout</a>
            </div>
        </div>
    </div>
</div>
