<div class="space-x-4 p-6 md:px-10 md:py-6 leading-6 font-semibold bg-gray-800 text-white">
    <div class="container mx-auto">
        <div class="flex items-center justify-between">
            <div class="flex items-center flex-grow pr-4">
                <div class="px-4 width-full relative">
                    <span>
                        <a href="https://github.com/FoxxMD/context-mod">ContextMod</a> for <a href="<%= botLink %>"><%= botName %></a>
                    </span>
                    <span class="inline-block -mb-3 ml-2">
                    <label style="font-size:2.5px;">
                        <input class='toggle-checkbox' type='checkbox' id="themeToggle" checked></input>
                        <div class='toggle-slot'>
                            <div class='sun-icon-wrapper'>
                                <div class="iconify sun-icon" data-icon="feather-sun" data-inline="false"></div>
                            </div>
                            <div class='toggle-button'></div>
                            <div class='moon-icon-wrapper'>
                                <div class="iconify moon-icon" data-icon="feather-moon" data-inline="false"></div>
                            </div>
                        </div>
                    </label>
                        </span>
                    <div class="text-small absolute pl-4">
                        Operated by <%= operatorDisplay %>
                    </div>
                </div>
            </div>
            <div class="flex items-center flex-end text-sm">
                <a href="logout">Logout</a>
            </div>
        </div>
    </div>
</div>
