<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css"
          integrity="sha512-wl80ucxCRpLkfaCnbM88y4AxnutbGk327762eM9E/rRTvY/ZGAHWMZrYUq66VQBYMIYDFpDdJAOGSLyIPHZ2IQ=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind-dark.min.css"
          integrity="sha512-WvyKyiVHgInX5UQt67447ExtRRZG/8GUijaq1MpqTNYp8wY4/EJOG5bI80sRp/5crDy4Z6bBUydZI2OFV3Vbtg=="
          crossorigin="anonymous"/>
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/@catalyst-elements/catalyst-toggle-switch@0.7.0/catalyst-toggle-switch.min.js"></script>
    <style>
        a {
            text-decoration: underline;
        }

        .has-tooltip {
            position: relative;
        }

        .tooltip {
            visibility: hidden;
            position: absolute;
            right: 0;
        }

        .has-tooltip:hover .tooltip {
            visibility: visible;
            z-index: 100;
        }
    </style>
    <title>RCB OAuth Helper</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body class="">
<script>localStorage.getItem('ms-dark') === 'yes' ? document.body.classList.add('dark') : document.body.classList.remove('dark')</script>
<div class="min-w-screen min-h-screen bg-gray-100 bg-gray-100 dark:bg-gray-800 font-sans">
    <div class="space-x-4 p-6 md:px-10 md:py-6 leading-6 font-semibold bg-gray-800 text-white">
        <div class="container mx-auto">
            <div class="flex items-center justify-between">
                <div class="flex items-center flex-grow pr-4">
                    <div class="px-4 width-full relative">
                        <div><a href="https://github.com/FoxxMD/reddit-context-bot">RCB</a> OAuth Helper</div>
                    </div>
                </div>
                <div class="flex items-center flex-end text-sm">
                    Dark mode
                    <catalyst-toggle-switch id="toggle-switch"></catalyst-toggle-switch>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="grid">
            <div class="bg-white dark:bg-gray-500 dark:text-white">
                <div class="p-6 md:px-10 md:py-6">
                    <div class="text-xl mb-4">Hi! Looks like you're setting up your bot. To get running:</div>
                    <div class="text-lg text-semibold my-3">1. Set your redirect URL</div>
                    <input id="redirectUri" style="min-width:500px;" class="text-black placeholder-gray-500 rounded mt-2 mb-3 p-2" value="<%= redirectUri %>">
                    <div class="my-2">
                        <input type="checkbox" id="wikiedit" name="wikiedit"
                               checked>
                        <label for="wikiedit">Include <span class="font-mono">wikiedit</span> permission for Toolbox User Notes</label>
                    </div>
                    <div class="space-y-3">
                        <div>This is the URL Reddit will redirect you to once you have authorized an account to be used
                            with your application.
                        </div>
                        <div>The input field has been pre-filled with either:
                            <ul class="list-inside list-disc">
                                <li>What you provided to the program as an argument/environmental variable or</li>
                                <li>The current URL in your browser that would be used -- if you are using a reverse
                                    proxy this may be different so double check
                                </li>
                            </ul>
                        </div>
                        <div>Make sure it matches what is found in the <b>redirect uri</b> for your <a target="_blank"
                                    href="https://www.reddit.com/prefs/apps">application on Reddit</a> and <b>it must end with "callback"</b></div>
                    </div>
                    <div class="text-lg text-semibold my-3">2. Login to Reddit with the account that will be the bot</div>
                    Protip: Login to Reddit in an Incognito session, then open this URL in a new tab.
                    <div class="text-lg text-semibold my-3">3. <a id="doAuth" href="">Authorize your bot account</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let toggleSwitch = document.querySelector('#toggle-switch');
    toggleSwitch.addEventListener('change', (event) => {
        document.body.classList.toggle('dark')
        toggleSwitch.checked ? localStorage.setItem('ms-dark', 'yes') : localStorage.setItem('ms-dark', 'no')
    });
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        if (localStorage.getItem('ms-dark') === 'yes') {
            document.body.classList.add('dark')
            toggleSwitch.checked = true
            localStorage.setItem('ms-dark', 'yes')
        }
    }

    if(document.querySelector('#redirectUri').value === '') {
        document.querySelector('#redirectUri').value = `${document.location.href}callback`;
    }

    document.querySelector('#doAuth').addEventListener('click', e => {
        e.preventDefault()
        const wikiEdit = document.querySelector('#wikiedit').checked ? 1 : 0;
        const url = `${document.location.href}auth?redirect=${document.querySelector('#redirectUri').value}&wikiEdit=${wikiEdit}`;
        window.location.href = url;
    })
</script>
</body>
</html>
