/* adapted from https://cdn.jsdelivr.net/npm/pretty-print-json@1.0/dist/pretty-print-json.css */
.json-key           { color: brown; }
.json-string        { color: olive; }
.json-number        { color: navy; }
.json-boolean       { color: teal; }
.json-null          { color: dimgray; }
.json-mark          { color: black; }
a.json-link         { color: purple; transition: all 400ms; }
a.json-link:visited { color: slategray; }
a.json-link:hover   { color: blueviolet; }
a.json-link:active  { color: slategray; }
.dark .json-key           { color: indianred; }
.dark .json-string        { color: darkkhaki; }
.dark .json-number        { color: deepskyblue; }
.dark .json-boolean       { color: mediumseagreen; }
.dark .json-null          { color: darkorange; }
.dark .json-mark          { color: silver; }
.dark a.json-link         { color: mediumorchid; }
.dark a.json-link:visited { color: slategray; }
.dark a.json-link:hover   { color: violet; }
.dark a.json-link:active  { color: silver; }
